<style>
  .game-card img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:8px;
}

</style>
<h2>Add Game</h2>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<form method="POST" enctype="multipart/form-data">

<input type="text" name="title" placeholder="Game Title" required>

<textarea name="description" placeholder="Game Description"></textarea>

<input type="text" name="trailer" placeholder="Trailer URL">

<label>Game Cover</label>


<label>
    <input type="checkbox" name="featured">
    Featured Game
</label>

<!-- Image Preview -->
<input type="file" name="cover" onchange="previewImage(event)">

<img id="preview" style="max-width:200px;margin-top:10px;">

<script>
function previewImage(event){
    const reader = new FileReader();
    reader.onload = function(){
        document.getElementById("preview").src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
}
</script>

<input type="file" name="cover">

<button type="submit">Add Game</button>

</form>