{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">




<section class="contact">

<h1>Contact Us</h1>

<form method="POST">

<input type="text" name="name" placeholder="Your Name" required>

<input type="email" name="email" placeholder="Your Email" required>

<textarea name="message" placeholder="Your Message"></textarea>

<button type="submit">Send Message</button>

</form>

</section>

{% endblock %}