<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ game.title }}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<!-- NAVBAR -->

<nav class="navbar">

<h2 class="logo">Awadhya Games Studio</h2>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/games">Games</a></li>
<li><a href="/blog">Blog</a></li>
</ul>

</nav>


<!-- GAME DETAIL -->

<section class="game-detail">

<div class="game-detail-container">

<div class="game-image">

<img src="{{ url_for('static', filename=game.cover.replace('static/', '')) }}" alt="{{ game.title }}">

</div>


<div class="game-info">

<h1>{{ game.title }}</h1>

<p class="game-description">
{{ game.description }}
</p>

<button class="btn btn-primary" onclick="openTrailer()">
Watch Trailer
</button>

<div id="trailerModal" class="trailer-modal">

<div class="trailer-content">

<span class="close" onclick="closeTrailer()">X</span>

<iframe width="100%" height="400"
src="{{ game.trailer }}"
frameborder="0"
allowfullscreen>
</iframe>

</div>

</div>

<h2>Trailer</h2>

<iframe
width="100%"
height="450"
src="{{ game.trailer }}"
frameborder="0"
allowfullscreen>
</iframe>


<a href="/games" class="btn btn-secondary">
Back to Games
</a>

</div>

</div>

</section>
<script>

function openTrailer(){
document.getElementById("trailerModal").style.display="flex"
}

function closeTrailer(){
document.getElementById("trailerModal").style.display="none"
}

</script>

<!--Game Image Slider-->
<div class="screenshot-gallery">

{% for shot in game.screenshots %}

<img src="{{ url_for('static', filename=shot.image.replace('static/', '')) }}">

{% endfor %}

</div>


<!--Game platform Icon -->
<div class="platforms">

<span>PC</span>
<span>Android</span>
<span>Steam</span>

</div>

</body>
</html>